/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.video-block-preview {
	img {
		display: block;
		width: 100%;
		height: auto;
	}
}
